# API
API_HOST=localhost
API_PORT=8000

# Web
WEB_PORT=3000
NEXT_PUBLIC_API_BASE_URL=https://YOUR_API_DOMAIN

# CORS
CORS_ORIGINS=http://localhost:3000,https://YOUR_FRONTEND_DOMAIN

# Environment
NODE_ENV=development